header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body{
  background-color: white;
}

p{
  margin: 0;
  padding: 0;
}

a{
  color: #3399FF;
  font-weight: bold;
}

a:hover{
  color: #FA58F4;
}

.h1{
  color: #333;
  font-size: 80px;
  line-height: 95px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 15px;
}

.h2{
  color: #333;
  font-size: 30px;
  line-height: 55px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}


p{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  color: #333;
  margin-bottom: 15px;
}

.note{
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.container{
  max-width: 900px;
  margin: auto;
}

div.strip{
  height: 30px;
  margin: 20px 0px;
  width: 100%;
  background-color: #FA58F4;
}

.centered{
  text-align: center;
}

.half{
  width: 44%;
  float: left;
  padding: 3%;
}

.third{
  width: 33.33%;
  float: left;
}

.two-thirds{
  width: 66.66%;
  float: left;
}

.small-margin{
  margin-bottom: 10px;
}

.clearfix{
  overflow: auto;
  clear: both;
}

.underlined{
  text-decoration: underline;
}

footer{
  height: 20px;
}

@media only screen and (max-width : 640px) {
  .container{
    margin: 0px 10px;
  }

  .half, .third, .two-thirds{
    width: 100%;
    float: none;
    padding: 0;
  }

  .h2{
    font-size: 28px;
  }
}
