header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body{
  background-color: white;
  background-image: url("space.jpg");
}

p{
  margin: 0;
  padding: 0;
}

a{
  color: #88A6C5;
  font-weight: bold;
}

a:hover{
  color: #FA58F4;
}

.h1{
  color: #e4e4e4;
  font-size: 100px;
  line-height: 105px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 15px;
}

.h2{
  color: #e4e4e4;
  font-size: 45px;
  line-height: 55px;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}


p{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  color: #e4e4e4;
  margin-bottom: 15px;
}

.note{
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.container{
  max-width: 900px;
  margin: auto;
  background-color: rgba(0,0,0,0.3);
  position: relative;
}

div.strip{
  height: 30px;
  margin: 20px 0px;
  width: 100%;
  background-color: #FA58F4;
}

div.strip.thin{
  height: 10px;
}

.centered{
  text-align: center;
}

.half{
  width: 44%;
  float: left;
  padding: 3%;
}

.third{
  width: 33.33%;
  float: left;
}

.two-thirds{
  width: 66.66%;
  float: left;
}

.small-margin{
  margin-bottom: 10px;
}

.clearfix{
  overflow: auto;
  clear: both;
}

.underlined{
  text-decoration: underline;
}

footer{
  height: 20px;
}

.stars{
  position: absolute;
  left: -25%;
  background: url(stars.png);
  display: block;
  width: 1500px;
  height: 800px;
  top: 0;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  z-index: 100;
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg);  }
    to { -webkit-transform: rotate(360deg);  }
}

@media only screen and (max-width : 640px) {
  .container{
    margin: 0px 10px;
  }

  .half, .third, .two-thirds{
    width: 100%;
    float: none;
    padding: 0;
  }

  .h2{
    font-size: 28px;
  }
}
