header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body{
  color: #e4e4e4;
}

img{
  width: 100%;
  max-width: 300px;
}

p{
  margin: 0;
  padding: 0;
  color: #333;
  font: 16px/30px 'Fauna One', Georgia, serif;
}

a{
  color: #88A6C5;
  text-decoration: none;
}

a:hover{
  color: #FA58F4;
}

.h1{
  color: #333;
  margin: 0;
  padding: 0;
  font: 40px 'Playfair Display', Georgia, serif;
}

.subtitle{
  margin: 0;
  color: #333;
  font: 20px 'Playfair Display', Georgia, serif;
}

.hero{
  margin-top: 50px;
  margin-bottom: 50px;
}

.note{
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.container{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.centered{
  text-align: center;
}

.centered-block{
  margin: auto;
  width: 320px;
}

.half{
  width: 50%;
  float: left;
}

.one-fifth{
  width: 20%;
  float: left;
}

.two-fifths{
  width: 40%;
  float: left;
}

.three-fifths{
  width: 60%;
  float: left;
}

.four-fifths{
  width: 80%;
  float: left;
}


.small-margin{
  margin-bottom: 10px;
}

.medium-margin{
  margin-bottom: 20px;
}

.large-margin{
  margin-bottom: 30px;
}

.strip{
  height: 5px;
  background-color: #FA58F4;
}

.clearfix{
  overflow: auto;
  clear: both;
}

.underlined{
  text-decoration: underline;
}

footer{
  height: 20px;
}

.mar-b{ margin-bottom: 20px; }
.mar-b-l{ margin-bottom: 40px; }

.post p{
  font-size: 18px;
  line-height: 34px;
}

.post .h2{
  color: #333;
  font: 25px 'Playfair Display', Georgia, serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

.post li{
  color: #333;
  font: 17px 'Playfair Display', Georgia, serif;
  margin-bottom: 15px;
}

.post ul{
  margin-top: 40px;
  margin-bottom: 40px;
}


@media only screen and (max-width : 640px) {
  .container{ margin: 0px 10px; }

  .third, .two-thirds, .one-fifth, .two-fifths, .three-fifths, .four-fifths{
    width: 100%;
    float: none;
    padding: 0;
  }

  .h2{ font-size: 20px; }
  .h1{ font-size: 60px; }
  .large-margin{ margin-bottom: 20px }
  .medium-margin{ margin-bottom: 10px }
}
